.contact {
  background: linear-gradient(
      to right,
      rgba($themeClrPrimary, 0.8),
      rgba($themeClrPrimary, 0.8)
    ),
    url(../../assets/svg/common-bg.svg);
  background-size: cover;
  background-position: center;

  &__form-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(#fff, 2);
    padding: 4rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    border-radius: $commonBorderRadius;

    margin: 5rem auto 0 auto;
    @include respond(phone) {
      padding: 3rem;
    }
  }
  &__form-field {
    margin-bottom: 4rem;
    @include respond(phone) {
      margin-bottom: 3rem;
    }
  }
  &__form-label {
    color: #666;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
  }
  &__form-input {
    color: #333;
    padding: 2rem;
    width: 100%;
    border: 1px solid rgb(235, 235, 235);
    font-size: 1.6rem;
    letter-spacing: 0px;
    background: rgba(rgb(240, 240, 240), 1);
    border-radius: $commonBorderRadius;
    font-weight: 600;
    /* Code for Modern Browsers */
    &::placeholder {
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }

    /* Code for WebKit, Blink, Edge */
    &::-webkit-input-placeholder {
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }

    /* Code for Internet Explorer 10-11 */
    &:-ms-input-placeholder {
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }

    /* Code for Microsoft Edge */
    &::-ms-input-placeholder {
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }

    /* Code for Mozilla Firefox 4 to 18 */
    &:-moz-placeholder {
      opacity: 1;
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }

    /* Code for Mozilla Firefox 19+ */
    &::-moz-placeholder {
      opacity: 1;
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
  &__btn {
    width: 30%;

    padding: 2rem 4rem;
    font-size: 1.6rem;
    @include respond(phone) {
      width: 100%;
    }
  }
}
