.projects {
  background: rgb(245, 245, 245);

  &__category {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    @include respond(phone) {
      font-size: 3rem;
    }
  }

  &__row {
    display: grid;
    background-color: #b9d8f9;
    border-radius: 2rem;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5rem;
    margin-bottom: 4rem;
    padding: 2rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-img-cont {
      overflow: hidden;
    }
    &-img {
      width: 100%;
      display: block;
      object-fit: cover;
      border-radius: 1.5rem;
      transition-duration: 200ms;

      &:hover {
        opacity: 60%;
        scale: 110%;
        transition-duration: 200ms;
      }
    }
    &-content {
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;

      @include respond(tab-port) {
        align-items: center;
      }

      &-title {
        font-weight: 700;
        font-size: 2.8rem;
        // margin-bottom: 2rem;
        @include respond(phone) {
          font-size: 2.4rem;
        }
      }
      &-subtitle {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 2rem;
        @include respond(phone) {
          font-size: 1.6rem;
        }
      }
      &-desc {
        font-size: 1.8rem;
        color: grey;
        max-width: 60rem;
        line-height: 1.7;
        margin-bottom: 3rem;
        @include respond(phone) {
          font-size: 1.7rem;
        }
      }
    }
  }

  

  &__tiles-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr;
    };
    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__tile {
    // display: grid;
    background-color: #b9d8f9;
    border-radius: 2rem;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5rem;
    margin: 2rem;
    overflow: hidden;
    // padding: 2rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    // &:last-child {
    //   margin-bottom: 0;
    // }

    &-cont {
      overflow: hidden;
      position: relative;
      height: 475px;
      // transition-duration: 200ms;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    // &-img-cont {
    //   overflow: hidden;
    //   position: relative;
    //   height: fit-content
    // }

    &-img {
      position: absolute;
      top: 0;
      // left: 0px;
      height: auto;
      width: 100%;
      // display: block;
      object-fit: cover;
      // border-radius: 1.5rem;
      transition-duration: 200ms;

      &:hover {
        position: relative;
        scale: 110%;
        opacity: 40%;
        transition-duration: 200ms;
      }

      // &-bigger {
      //   position: relative;
      //   scale: 50%;
      //   opacity: 60%;
      //   transition-duration: 200ms;
      // }
    }
      
    &-content {
      // display: none;
      padding: 20rem 0;
      position: relative;
      text-align: center;
      opacity: 0%;
      transition-duration: 500ms;

      @include respond(tab-port) {
        align-items: center;
      }

      &:hover {
        opacity: 100%;
      }

      &-title {
        font-weight: 700;
        font-size: 2.8rem;
        // margin-bottom: 2rem;
        @include respond(phone) {
          font-size: 2.4rem;
        }
      }
      &-subtitle {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 2rem;
        @include respond(phone) {
          font-size: 1.6rem;
        }
      }
      &-desc {
        font-size: 1.8rem;
        color: grey;
        max-width: 60rem;
        line-height: 1.7;
        margin-bottom: 3rem;
        @include respond(phone) {
          font-size: 1.7rem;
        }
      }
    }
    
  }
}