*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 59%; //1 rem =
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 56%; //1 rem =
  }

  @include respond(big-desktop) {
    font-size: 65%; //1rem =
  }
}

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Source Sans Pro', sans-serif;
  
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

p > a {
  text-decoration: underline;
}
p > a:link {
  color: $darkBlue;
}
p > a:visited {
  color: $darkBlue;
}
p > a:hover {
  color: $lightBlue;
}
p > a:active {
  color: $tan;
}

hr.primary {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 2.5%;
  color: $themeClrPrimary;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  border-color: $themeClrPrimary;

  @include respond(tab-port) {
    width: 7.5%;
  }
}

hr.secondary {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 3%;
  color: $themeClrPrimary;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: $themeClrPrimary;

  @include respond(tab-port) {
    width: 7.5%;
  }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

.accordion {
  background-color: #eee;
  // color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: left;
  outline: none;
  font-size: 15px;
  // transition: 0.4s;
  margin-bottom: 1rem;
  -webkit-transition: border-radius .15s;
  transition: border-radius .15s;

  &::after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
}

.accordion.active, .accordion:hover {
  background-color: #dddddd;
  transition: .35s;
}

.accordion.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  &::after {
    content: '\2212';
    color: #777;
    font-weight: bold;
    float: right;
  }
}

.panel {
  padding: 0 18px;
  display: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #dddddd;
  margin-bottom: 1rem;
  -webkit-animation: fadeIn 0.5s;
}
.panel.active {
  display: block;
}

#get-in-touch-btn {
  margin-top: 4rem;
}

.name-card {
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  @include respond(tab-port) {
    display: block;
    text-align: center;
  }
  @include respond(phone) {
    display: block;
  }
}

.name-card > div > img {
  width: 30rem;
  margin-right: 3rem;
  border-radius: 400px;
  filter: drop-shadow(5px 5px 20px rgb(0, 0, 0, 0.2));
  @include respond(tab-port) {
    margin: 2rem 0;
  }
}