// Colors
$themeClrPrimary: #20315d;
$themeClrSecondary: #95734d;
$darkBlue: #20315d;
$lightBlue: #95a1ad;
$tan: #e9e7de;

// Other
$commonBorderRadius: 10px;

$logo-font: 'El Mesiri';
$headings-font: 'Roboto Condensed';
$body-font: 'Noto Sans Vithkuqi';