@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/typography';

@import 'base/base';

@import 'pages/home';
@import 'pages/project-case-study';

@import 'components/header';
@import 'components/footer';
// @import 'components/skills';
@import 'components/mouse-scroll';

@import 'abstracts/utilities';